* {
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
  /* font-family: "Outfit", sans-serif; */
  /* font-family: "Young Serif"; */
}
:root{
  --bg-color: gray;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 80vh;
  align-items: center;
  background-color: var(--bg-color);
}

main {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  margin: 25px;
  width: 650px;
  height: auto;
}

/* IMAGE START */
.hero-img{
  border: 1px solid red;
  height: auto;
  padding: 22px 22px 20px 22px;
}

.hero-img img {
  width: 100%;
  border-radius: 10px;
}
/****************** IMAGE END *****************/

/****************** TITLE START ***************/
.title{
  border: 1px solid orange;
  height: auto;
  margin: 0 22px 0 22px;
}

.title h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
}

.title p {
  margin: 15px 0 30px 0;
  padding: 0;
  font-size: 16px;
}
/****************** TITLE END ***************/

/****************** PREPERATION TIME START ***************/

.prep-time{
  border: 1px solid orange;
  height: auto;
  margin: 0 22px 0 22px;
  padding: 0 10px 0 10px;
}

.prep-time h3 {
  margin: 10px 0 18px 0;
  padding: 0 20px 0 20px;
}

.prep-time ul {
  /* margin: 0px; */
}

.prep-time li {
  margin: 0 0 12px 0 ;
}

.prep-time span{
  font-weight: 600;
  padding: 0 0 0 12px;
}
/****************** PREPERATION TIME END ***************/


/****************** INGREDIENTS START ***************/
.ingredients{
  border: 1px solid orange;
  height: auto;
  margin: 0 22px 0 22px;
}

.ingredients ul{
  padding: 0 0 0 22px;
}

.ingredients li{
  margin: 0 0 8px 0;
  padding: 0 0 5px 12px;
}

.ingredients li:last-child {
  padding-bottom: 25px;
}
/****************** INGREDIENTS END ***************/

/****************** INSTRUCTIONS START ***************/
.instructions{
  border: 1px solid orange;
  height: auto;
  margin: 0 22px 0 22px;

}

.instructions ol{
  padding: 0 0 0 22px;
}

.instructions li{
  margin: 0 0 8px 0;
  padding: 0 0 5px 12px;
}

/****************** INSTRUCTIONS END ***************/

.nutrition{
  border: 1px solid orange;
  height: 80px;
}
