* {
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
  font-family: "Outfit", sans-serif;
}
:root{

  /* Primary */

  --bg-color: lightgray;
  --nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 80vh;
  align-items: center;
  background-color: var(--Eggshell);
}

main {
  /* border: 1px solid blue; */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 25px;
  width: 700px;
  height: auto;
  background-color: var(--White);
}

h1, h2 {
  font-family: "Young Serif";
}

h3, td span {
  color: var(--nutmeg);
}

h2, ul, ol, li::marker{
  color: var(--Dark-Raspberry);
}

h2 {
  font-weight: 400;
}

ol li::marker{
  font-weight: 700;
}

li, p, .nutrition {
  color: var(--Wenge-Brown);
}

/* IMAGE START */
.hero-img{
  /* border: 1px solid red; */
  padding: 30px 35px 20px 35px;
}

.hero-img img {
  width: 100%;
  border-radius: 10px;
}
/****************** IMAGE END *****************/

/****************** TITLE START ***************/
.title{
  /* border: 1px solid orange; */
  height: auto;
  margin: 0 35px 0 35px;
}

.title h1 {
  font-size: 35px;
  margin: 0;
  font-weight: 400;
}

.title p {
  margin: 15px 0 30px 0;
  padding: 0;
  font-size: 16px;
  color: var(--Wenge-Brown);
}
/****************** TITLE END ***************/

/****************** PREPERATION TIME START ***************/

.prep-time{
  /* border: 1px solid orange; */
  background: var(--Rose-White);
  border-radius: 20px;
  height: auto;
  margin: 0 35px 0 35px;
  padding: 0 10px 0 10px;
}


.prep-time h3 {
  margin: 10px 0 18px 0;
  padding: 0 20px 0 20px;
}

.prep-time li {
  margin: 0 0 12px 0 ;
  padding-left: 12px;
}

/****************** PREPERATION TIME END ***************/

.prep-time span, .instructions span, td span {
  font-weight: 600;
}

/****************** INGREDIENTS START ***************/
.ingredients{
  /* border: 1px solid orange; */
  height: auto;
  margin: 0 35px 0 35px;
}

.ingredients li:last-child {
  padding-bottom: 15px;
}
/****************** INGREDIENTS END ***************/

.ingredients li, .instructions li{
  margin: 0 0 8px 0;
  padding: 0 0 5px 12px;
}

/****************** INSTRUCTIONS START ***************/

.instructions ol{
  padding: 0 0 0 22px;
}



/****************** INSTRUCTIONS START ***************/
.instructions{
  /* border: 1px solid orange; */
  height: auto;
  margin: 0 35px 0 35px;
}

.instructions li{
  padding-left: 20px;
}

.instructions li:last-child {
  padding-bottom: 25px;
}

/****************** INSTRUCTIONS END ***************/

.nutrition{
  /* border: 1px solid orange; */
  height: auto;
  margin: 0 35px 0 35px;
}

table{
  border: 1px solid green;
  width: 100%;
  padding: 0 0 30px 0;
}


td{
  padding: 10px 0 12px 25px;
}

.ingredients, .instructions, td {
  border-bottom: 1px solid var(--Light-Grey);
}


