* {
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
  /* font-family: "Outfit", sans-serif; */
  /* font-family: "Young Serif"; */
}
:root{

  /* Primary */

  --bg-color: lightgray;
  --nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 80vh;
  align-items: center;
  background-color: var(--Eggshell);
}

main {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  margin: 25px;
  width: 650px;
  height: auto;
  background-color: var(--White);
}

h1 {
  font-family: "Young Serif";
}

h3 {
  color: var(--nutmeg);
}

h2, ul, ol, li::marker{
  color: var(--Dark-Raspberry);
}

h2 {
  font-family: "Young Serif";
  font-weight: 400;
}

ol li::marker{
  font-weight: 700;
}

li {
  color: var(--Wenge-Brown);
}

/* IMAGE START */
.hero-img{
  border: 1px solid red;
  height: auto;
  padding: 22px 22px 20px 22px;
}

.hero-img img {
  width: 100%;
  border-radius: 10px;
}
/****************** IMAGE END *****************/

/****************** TITLE START ***************/
.title{
  /* border: 1px solid orange; */
  height: auto;
  margin: 0 22px 0 22px;
}

.title h1 {
  font-size: 35px;
  margin: 0;
  font-weight: 400;
}

.title p {
  margin: 15px 0 30px 0;
  padding: 0;
  font-size: 16px;
  color: var(--Wenge-Brown);
}
/****************** TITLE END ***************/

/****************** PREPERATION TIME START ***************/

.prep-time{
  /* border: 1px solid orange; */
  background: var(--Rose-White);
  border-radius: 20px;
  height: auto;
  margin: 0 22px 0 22px;
  padding: 0 10px 0 10px;
}


.prep-time h3 {
  margin: 10px 0 18px 0;
  padding: 0 20px 0 20px;
}

.prep-time ul {
  /* margin: 0px; */
}

.prep-time li {
  margin: 0 0 12px 0 ;
  padding-left: 12px;
}

.prep-time span{
  font-weight: 600;
  /* padding: 0 0 0 12px ; */
}
/****************** PREPERATION TIME END ***************/


/****************** INGREDIENTS START ***************/
.ingredients{
  /* border: 1px solid orange; */
  border-bottom: 1px solid var(--Light-Grey);
  height: auto;
  margin: 0 22px 0 22px;
}

.ingredients ul{
  padding: 0 0 0 22px;
}

.ingredients li{
  margin: 0 0 8px 0;
  padding: 0 0 5px 12px;
}

.ingredients li:last-child {
  padding-bottom: 25px;
}
/****************** INGREDIENTS END ***************/

/****************** INSTRUCTIONS START ***************/
.instructions{
  /* border: 1px solid orange; */
  border-bottom: 1px solid var(--Light-Grey);
  height: auto;
  margin: 0 22px 0 22px;

}

.instructions ol{
  padding: 0 0 0 22px;
}

.instructions li{
  margin: 0 0 8px 0;
  padding: 0 0 5px 12px;
}

.instructions li:last-child {
  padding-bottom: 25px;
}

/****************** INSTRUCTIONS END ***************/

.nutrition{
  /* border: 1px solid orange; */
  height: auto;
  margin: 0 22px 0 22px;
}

table{
  /* border: 1px solid green; */
  width: 100%;
  padding: 0 0 30px 0;

}

td{
  border-bottom: 1px solid var(--Light-Grey) ;
}

td:first-child{
  padding: 10px 0 12px 25px;
}



